<% layout("/layouts/boilerplate.ejs") %>

  <div>
    <div class="row">
      <div class="col-6 offset-2">
        <h2 class="mt-3 mb-3">Listing Details</h2>
        <div class="card col-6" style="width: 18rem">
          <h5 class="card-text">
            <%= listing.title %>
          </h5>
          <img src="<%= listing.image.url %>" class="card-img-top" alt="..." />
          <div class="card-body">

            <p>
              <%= listing.description%>
            </p>
            <p>
              <%=listing.price%>
            </p>
            <p>
              <%=listing.location%>
            </p>
            <p>
              <%=listing.country%>
            </p>
          </div>
        </div>
        <div class="btns">

          <a class="btn btn-success " href="/listings/<%=listing._id%>/edit">Edit</a>
          <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
            <button class=" btn btn-dark">Delete</button>
          </form>
        </div>

      </div>
    </div>

    <div class="col-6 offset-2 mb-5">
      <hr>
      <h4>Leave a Review</h4>
      <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
        <div class="mb-3 mt-3">
          <label class="form-label" for="rating">Rating</label>
          <input class="form-range" name="review[rating]" type="range" min="1" max="5">
        </div>
        <div class="mb-3 mt-3">
          <label class="form-label" for="comment">Comments</label>
          <textarea class="form-control" name="review[comment]" id="review" cols="60" rows="10" required></textarea>
          <div class="invalid-feedback">Comment section is Empty</div>
        </div>
        <button class="btn btn-dark">Submit</button>
      </form>
      <hr>
      <p><b>All Reviews</b></p>
      <div class="row">
        <%for(let review of listing.reviews){%>

          <div class="card review-card col-5 mb-3 ms-3">
            <div class="card-body">
              <h5 class="card-title">Shri krishna</h5>
              <p class="card-text">
                <%=review.comment%>
              </p>
              <p class="card-text">
                <%=review.rating%> Stars
              </p>
              <form class="mb-3" method="post"
                action="/listings/<%=listing._id%>/reviews/<%=review._id %>?_method=DELETE">
                <button class="btn btn-dark">Remove</button>
              </form>


            </div>


          </div>
          <%}%>
      </div>


    </div>
  </div>


  <script>
    // Example of enabling Bootstrap validation
    (() => {
      "use strict";

      // Fetch all the forms we want to apply custom Bootstrap validation styles to
      const forms = document.querySelectorAll(".needs-validation");

      // Loop over them and prevent submission
      Array.from(forms).forEach((form) => {
        form.addEventListener(
          "submit",
          (event) => {
            if (!form.checkValidity()) {
              event.preventDefault();
              event.stopPropagation();
            }

            form.classList.add("was-validated");
          },
          false
        );
      });
    })();
  </script>
  </body>