<% layout("/layouts/boilerplate.ejs") %>


  <div>
    <div class="row">
      <div class="col-6 offset-2">
        <h2 class="mt-3 mb-3">Listing Details</h2>
        <div class="card col-6" style="width: 22rem">
          <h5 class="card-text">
            <%= listing.title %>
          </h5>
          <img src="<%= listing.image.url %>" class="card-img-top" alt="..." />
          <div class="card-body">

            <div>

              <% if (listing.owner.username) { %>
                <p>Owned By: <i style="color: rgb(254, 94, 58);">
                    <%= listing.owner.username %>
                  </i></p>
                <% } else { %>
                  <p> Owned By: <i style="color: rgb(254, 94, 58);"> Unknown</i></p>
                  <% } %>
            </div>

            <p>
              <%= listing.description%>
            </p>
            <p>
              ₹<%= (listing.price || 0).toLocaleString("en-IN") %>
            </p>
            <p>
              <%=listing.location%>
            </p>
            <p>
              <%=listing.country%>
            </p>
          </div>
        </div>
        <% if (currUser?.equals(listing.owner)) { %>
          <div class="btns ">

            <a class="btn btn-success " href="/listings/<%=listing._id%>/edit">Edit</a>
            <form action="/listings/<%=listing._id%>?_method=DELETE" method="POST">
              <button class=" btn btn-dark mx-5">Delete</button>
            </form>
          </div>
          <%}%>
      </div>
    </div>
    <div class="col-6 offset-2 mb-5">
      <hr>
      <% if(currUser) { %>
        <h4>Leave a Review</h4>
        <form action="/listings/<%=listing._id%>/reviews" method="POST" novalidate class="needs-validation">
          <!-- <div class="mb-3 mt-3">
            <label class="form-label" for="rating">Rating</label>
            <input class="form-range" name="review[rating]" type="range" min="1" max="5">
          </div> -->
          <div class="mb-1 mt-3">
            <label class="form-label" for="rating">Give Rating</label>
            <fieldset class="starability-slot">
              <input type="radio" id="no-rate" class="input-no-rate" name="review[rating]" value="0" checked
                aria-label="No rating." />
              <input type="radio" id="first-rate1" name="review[rating]" value="1" />
              <label for="first-rate1" title="Terrible">1 star</label>
              <input type="radio" id="first-rate2" name="review[rating]" value="2" />
              <label for="first-rate2" title="Not good">2 stars</label>
              <input type="radio" id="first-rate3" name="review[rating]" value="3" />
              <label for="first-rate3" title="Average">3 stars</label>
              <input type="radio" id="first-rate4" name="review[rating]" value="4" />
              <label for="first-rate4" title="Very good">4 stars</label>
              <input type="radio" id="first-rate5" name="review[rating]" value="5" />
              <label for="first-rate5" title="Amazing">5 stars</label>
            </fieldset>
          </div>
          <div class="mb-3 mt-3">
            <label class="form-label" for="comment">Comments</label>
            <textarea class="form-control" name="review[comment]" id="review" cols="60" rows="10" required></textarea>
            <div class="invalid-feedback">Comment section is Empty</div>
          </div>
          <button class="btn btn-dark">Submit</button>
        </form>
        <%}%>
          <hr>
          <p><b>All Reviews</b></p>
          <div class="row">
            <%for(let review of listing.reviews){%>
              <div class="card review-card col-5 mb-3 ms-3">
                <div class="card-body">

                  <h5 class="card-title" style="color: rgb(214, 98, 98);">
                    <%=review.author?.username%>
                  </h5>
                  <p class="starability-result card-text" data-rating=<%=review.rating%>> </p>

                  <p class="card-text">
                    <%=review.comment%>
                  </p>
                  <form class="mb-3" method="post"
                    action="/listings/<%=listing._id%>/reviews/<%=review._id %>?_method=DELETE">
                    <button class="btn btn-dark">Remove</button>
                  </form>
                </div>
              </div>
              <%}%>
          </div>
    </div>
  </div>

  </body>