<% layout("/layouts/boilerplate.ejs") %>

<body>
  <div class="row">
    <div class="col-6 offset-2">
      <h3>Listing Details</h3>
      <div class="card col-6" style="width: 18rem">
        <img src="<%= listing.image.url %>" class="card-img-top" alt="..." />
        <hr />
        <div class="card-body">
          <h6 class="card-text"><%= listing.title %></h6>
          <p><%= listing.description%></p>
          <p><%=listing.price%></p>
          <p><%=listing.location%></p>
          <p><%=listing.country%></p>
        </div>
      </div>
      <div class="btns"></div>
          <a class="btn btn-success " href="/listings/<%=listing._id%>/edit">Edit</a> 
          <form
            action="/listings/<%=listing._id%>?_method=DELETE"
            method="POST"
          >
            <button class=" btn btn-dark">Delete</button>
          </form>
        </div>
    </div>
  </div>
</body>
